{% extends "recipes/layout.html" %}

{% block body %}
<section class="text-white">
    <nav class="navbar bg-dark-subtle">
        <div class="container-fluid">
            <a href="Authentic Recipes.html"><img src="Logo.png" class="rounded float-center position-relative m-2" width="100px"><label class="text-black">FOOD GUIDE PH</label></a> 
                <ul class="nav nav-underline ms-4 text-black">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="Authentic Recipes.html">Authentic Recipes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-black" href="Signature Recipes.html">Signature Recipes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active text-black" aria-current="page" href="Profile.html">Profile</a>
                    </li>  
                        
                    <form class="d-flex" role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                </ul>
            </div>
        </nav>

    <div class="lead text-center text-white">
        <img src="profile pic.png" class="rounded-center mt-2" width="100px">
                            
            <div class="my-3">
                <label class="my-2">noobmaster69</label>  
                <ul class="me-4 mt-3">
                <a href="Cookbooks.html"><button class="cookbooks">Cookbooks</button></a>
                </ul>
                <ul class="me-4 mb-5 pb-4">
                <a href="AccountSettings.html"><button class="setting">Account Setting</button></a>
                </ul>

                <div class="lead text-center ms-2 mt-4">
                    <a href="SignInPage.html"><button  class="btn btn-outline-primary"><h3> Log Out</h3></button></a>
                </div>
            </div>                       
    </div>
</section>
{% endblock %}