{% extends 'templates/layout.html' %}

{% blockbody %}
<body class="bg-primary-subtle">
    <section class="text-white">
        <nav class="navbar bg-dark-subtle">
            <div >
            <a href="Authentic Recipes.html"><img src="Logo.png"   class="rounded float-center position-relative m-2" width="100px"></a>
            <label class="text-black">FOOD GUIDE PH</label>
                
                <ul class="nav nav-underline ms-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Authentic Recipes.html">Authentic Recipes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="Signature Recipes.html">Signature Recipes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="Profile.html">Profile</a>
                    </li>  
                        
                    <form class="d-flex" role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                </ul>
            </div>
        </nav>
            <ul class="nav nav-underline ms-1">
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">NCR</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">CAR</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region I</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region II</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region III</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region IV-A</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region IV-B</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region V</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region VI</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region VII</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region VIII</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region IX</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region X</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region XI</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region XII</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Region XIII</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">BARMM</a></li>
            </ul>
            <div class="lead text-center ">
                <label >Top Categories</label>
            </div>
    </section>
</body>
{% endblock %}