{% load static %}
</DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <Title>FOOD GUIDE PH</Title>
    {% include 'recipes/styles.html' %}
</head>

<body class="bg-black">
    {% include 'recipes/sections/navbar.html' %}

    <div id="content"></div>

    {% include 'recipes/scripts.html' %}
    <script data-section="{{ section }}">
        const data = document.currentScript.dataset;
        const section = data.section;
        console.log("From script tag: " + section);
        history.pushState({section: section}, "", `${section}`);
        showSection(section);
    </script>
</body>
</html>

<!--
active
aria-current="page"
-->