{% extends "recipes/layout.html" %}

<section class="text-white">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <ul class="nav nav-underline ms-1">
                <li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="#">NCR</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">CAR</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region I</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region II</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region III</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region IV-A</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region IV-B</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region V</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region VI</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region VII</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region VIII</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region IX</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region X</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region XI</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region XII</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Region XIII</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">BARMM</a></li>
        </ul>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle lead text-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filters</button>
            <ul class="dropdown-menu ms-2">
                <li class="ms-2"><a class="dropdown-item" href="#"></a>Popular</li>
                <li class="ms-2"><a class="dropdown-item" href="#"></a>Recommended</li>
            </ul>
            </div>
        </div>
        <div class="lead text-center ">
            <label >Top Categories</label>
        </div>
</section>