
{% load static %}
<!--<div class="btn-group" role="group" aria-label="Basic radio toggle button group">-->

    <div class="scrollmenu">
        {% for region in regions %}
            <!--<li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="#">{{ region }}</a></li>-->
            <a href="#">{{ region }}</a>
        {% endfor %}
    </div>
    
<!--</div>-->

<div class="lead text-center text-white position-relative">
    <label class="lead text-center text-white"><h5>Authentic</h5></label>
</div>

<div class="lead text-center text-white">
    <table class="lead text-center text-white">
        <thead>
        <tr>
            <th img src="batchoy-tagalog-3-730x973.jpg" class="rounded-circle" a href="#">Batchoy tagalog</th>
            <th img src="..." class="rounded-circle" a href="#">Example II</th>
            <th img src="..." class="rounded-circle" a href="#">Example III</th> 
        </tr>
        </thead>
    </table>
</div>

<div class="lead text-center text-white">
    <table class="lead text-center text-white">
    <thead>
        <tr>
            <th img src="..." class="rounded-circle">Example I</th>
            <th img src="..." class="rounded-circle">Example II</th>
            <th img src="..." class="rounded-circle">Example III</th> 
        </tr>
    </thead>
    </table>
</div>

<div class="lead text-center text-white">
    <table class="lead text-center text-white">
    <thead>
        <tr>
            <th img src="..." class="rounded-circle">Example I</th>
            <th img src="..." class="rounded-circle">Example II</th>
            <th img src="..." class="rounded-circle">Example III</th> 
        </tr>
    </thead>
    </table>
</div>
