<!--HATDOG-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <Title>FOOD GUIDE PH</Title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    
</head>
<body class="bg-black">
    <section class="text-white">
        <nav class="navbar bg-dark-subtle">
            <div >
            <a href="Authentic Recipes.html"><img src="Logo.png" class="rounded float-center position-relative m-2" width="100px"></a>
            <label class="text-black">FOOD GUIDE PH</label>
                
                <ul class="nav nav-underline ms-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Authentic Recipes.html">Authentic Recipes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="Signature Recipes.html">Signature Recipes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="Profile.html">Profile</a>
                    </li>  
                        
                    <form class="d-flex" role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                </ul>
            </div>
        </nav>
        </section>
        <img src="batchoy-tagalog-3-730x973.jpg" width="300px" height="300px">
        <h5 class="text-white">Batchoy Tagalog</h5>
        <p class="text-white">Batchoy Tagalog makes a great main dish with steamed rice for lunch or dinner. 
        It's a hearty, flavorful comfort food that's sure to take the chill off cold, rainy days.</p>
        
        <label class="lead text-center text-white"><h5>Ingredients</h5></label> 
        <ul class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Serving Size</a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">4</a></li>
                <li><a class="dropdown-item" href="#">6</a></li>
            </ul>
        </ul>

        <ul class="text-white">
            <li> 1 tablespoon canola oil</li>
            <li> 1 onion, peeled and sliced thinly</li>
            <li> 4 cloves garlic, peeled and minced</li>
            <li> 2 thumb-sized ginger, peeled and minced</li>
            <li> ½ pound pork tenderloin, cut into strips</li>
            <li> ¼ pound pork heart, about 1 piece, cut into thin strips</li>
            <li> 2 tablespoons fish sauce</li>
            <li> 6 cups water</li>
            <li> ¼ pound pork liver, cut into thin strips</li>
            <li> ¼ pound coagulated blood, drained and cut into cubes</li>
            <li> salt and pepper to taste</li>
            <li> 2 ounces miswa</li>
            <li> 1 bunch fresh chili leaves, stems trimmed</li>
        </ul>
        <label class="text-white"><h5>Instructions</h5></label>
        <ol class="text-white">
            <li> In a large pot over medium heat, heat oil. Add onions, garlic, and ginger, and cook until softened.</li>
            <li> Add pork and heart. Cook, stirring occasionally, until lightly browned.</li>
            <li> Add fish sauce and cook for about 2 to 3 minutes.</li>
            <li> Add water and bring to a boil, skimming scum that floats on top.</li>
            <li> Lower heat, cover, and continue to cook for about 15 to 20 minutes or until meat is tender.</li>
            <li> Increase heat to high and bring the broth to a rolling boil.</li>
            <li> Add pork liver and cook, without stirring, for about 2 to 3 minutes. 
                Stir and continue to cook for another 2 to 3 minutes.</li>
            <li> Add coagulated blood and cook, without stirring, for about 2 to 3 minutes. 
                Stir and continue to cook for about 8 to 10 minutes.</li>
            <li> Season with salt and pepper to taste.</li>
            <li> Add miswa and continue to cook for 1 to 2 minutes.</li>
            <li> Add chili leaves, pressing down into the broth. 
                Turn off the heat and cover to allow residual steam to cook leaves. 
                Serve hot.</li>
            </ol>
    </body>
</html>