
{% load static %}

<style>
    table {
        margin-left: auto;
        margin-right: auto;
    }

    table, th, td {
        border: 1px solid white;
    }

</style>

<div class="lead text-center text-white position-relative">
    <label><h1>Cookbooks</h1></label>
</div>
<div class="lead text-center text-white">
    <label class="lead text-center text-white"><h5>Lunch</h5></label>
        <table>
            <tr>
                <th>Example I</th>
                <th>Example II</th>
                <th>Example III</th> 
            </tr>
        </table>
</div>

<div class="lead text-center text-white">
    <table class="lead text-center text-white">
        <thead>
            <table class="lead text-center text-white">
            <tr>

                <th img src="..."class="rounded-circle">Example 1</th>
                <th img src="..." class="rounded-circle">Example 2 </th>
                <th img src="..." class="rounded-circle">Example 3</th> 
            </tr>
        </thead>
    <label><h5>Breakfast</h5></label>
</div>

<div class="lead text-center text-white">
    <table class="lead text-center text-white">
        <thead>
            <table class="lead text-center text-white">
            <tr>

                <th img src="..."class="rounded-circle">Example 1</th>
                <th img src="..." class="rounded-circle">Example 2 </th>
                <th img src="..." class="rounded-circle">Example 3</th> 
            </tr>
        </thead>
    <label><h5>Dinner</h5></label> 
</div>