
{% load static %}

<style>
    table {
        margin-left: auto;
        margin-right: auto;
    }

    table, th, td {
        border: 0px solid white;
    }

</style>

<div class="lead text-center text-white position-relative">
    <label><h1>Cookbooks</h1></label>
</div>
<br>
<div class="lead text-center text-white">
    <label class="text-white mb-3"><h5>Breakfast</h5></label>
        <table class="lead text-center text-white">
            <thead>
            <tr>
                <th><img src="..." class="rounded-circle ps-4 pe-4"  height="150px" width="150"><br>Example I</th>
                <th><img src="..." class="rounded-circle pe-4"  height="150px" width="150"><br>Example II</th>
                <th><img src="..." class="rounded-circle"  height="150px" width="150"><br>Example III</th> 
                <th><img src="..." class="rounded-circle"  height="150px" width="150"><br>Example IV</th>
            </tr>
        </thead>
        </table>
</div>

<div class="lead text-center text-white">
    <table class="lead text-center text-white">
        <thead>
            <table class="lead text-center text-white">
            <tr>

                <th><img src="..." class="rounded-circle ps-4 pe-4"  height="150px" width="150"><br>Example I</th>
                <th><img src="..." class="rounded-circle pe-4"  height="150px" width="150"><br>Example II</th>
                <th><img src="..." class="rounded-circle"  height="150px" width="150"><br>Example III</th>
                <th><img src="..." class="rounded-circle"  height="150px" width="150"><br>Example IV</th>
            </tr>
        </thead>
        <br><label class="mb-3"><h5>Lunch</h5></label>
</div>

<div class="lead text-center text-white">
    <table class="lead text-center text-white">
        <thead>
            <table class="lead text-center text-white">
            <tr>

                <th><img src="..." class="rounded-circle ps-4 pe-4"  height="150px" width="150"><br>Example I</th>
                <th><img src="..." class="rounded-circle pe-4"  height="150px" width="150"><br>Example II</th>
                <th><img src="..." class="rounded-circle pe-4"  height="150px" width="150"><br>Example III</th>
                <th><img src="..." class="rounded-circle"  height="150px" width="150"><br>Example IV</th>
            </tr>
        </thead>
        <br><label class="mb-3"><h5>Dinner</h5></label> 
</div>