
{% load static %}

<div class="lead text-center text-white">
    <img src="{% static 'images/avatar.png' %}" class="rounded-center mt-2" width="100px">
                        
    <div class="my-3">
        <label class="my-2">{{ name }}</label>
        
        <div style="margin-bottom: 1rem;">
            <button data-section="cookbooks" class="navButton">Cookbooks</button>
        </div>

        <div>
            <button data-section="settings" class="navButton">Settings</button>
        </div>

        <div class="lead text-center ms-2 mt-4">
            <a href="{% url 'recipes:logout' %}" class="btn btn-outline-primary" >Log Out</a>
        </div>
    </div>                       
</div>