<!DOCTYPE html>
<html lang="en">
<head>
    <title>Currency Exchange</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            document.querySelector('form').onsubmit = function() {
                var myHeaders = new Headers();
                myHeaders.append("apikey", "PLYR68F8YTtR0rob8PeUXToMyncvCkWL");
    
                var requestOptions = {
                method: 'GET',
                redirect: 'follow',
                headers: myHeaders
                };
    
                fetch("https://api.apilayer.com/exchangerates_data/latest?&base=USD", requestOptions)
                .then(response => response.json())
                .then(data => {
                    const currency = document.querySelector('#currency').value.toUpperCase();
                    const rate = data.rates[currency];
                    if (rate !== undefined) {
                        //template literals or formatted strings
                        document.querySelector('#result').innerHTML = `1 USD is equal to ${rate.toFixed(3)} ${currency}.`;
                    } else {
                        document.querySelector('#result').innerHTML = 'Invalid Currency.';

                    }
                })
                //.then(result => console.log(result))
                .catch(error => console.log('error', error));
                return false;
            }
        });


    </script>
</head>
<body>
    <form>
        <input id="currency" placholder="Currency" type="text">
        <input type="submit" value="Convert">
    </form>
    <div id="result">

    </div>
</body>
</html>