<!DOCTYPE html>
<html>
    <head>
        <title>My Page!</title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li class="tab"><a href="index.html">Home</a></li>
                    <li class="tab"><a href="menu.html">Menu</a></li>
                    <li class="logo"><a href="index.html">Max's Restaurant Logo</a></li>
                    <li class="tab"><a href="locations.html">Locations</a></li>
                    <li class="tab"><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <h1>Home</h1>
        </header>
        <section class="features">
            <figure>
                <img src="images/liempo.jpg" alt="liempo">
                <figcaption>Liempo</figcaption>
            </figure><figure>
                <img src="images/lumpia.jpg" alt="lumpia">
                <figcaption>Lumpia</figcaption>
            </figure><figure>
                <img src="images/sinigang.jpeg" alt="sinigang">
                <figcaption>Sinigang</figcaption>
            </figure>
        </section>
        <footer>
            123 Main Street Edwardsville, IL 
        </footer>
        
    </body>
</html>
