
{% load static %}

<style>
    table {
        margin-left: auto;
        margin-right: auto;
    }

    table, th, td {
        border: 0px solid white;
    }

</style>
<div class="pt-2 ps-2 text-white position-relative">
<i class="bi bi-arrow-left"><use xlink:href="#arrow-left"></use></i>
</div>

<div class="lead text-center text-white position-relative">

    <label class="mt-5"><h1>Cookbooks</h1></label>
</div>
<br>
<div class="lead text-center text-white">
    <label class="text-white mb-3"><h5>Breakfast</h5></label>
        <table class="lead text-center text-white">
            <thead>
            <tr>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example I</th>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example II</th>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example III</th> 
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example IV</th>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example V</th>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example VI</th>
                <th><img src="..." class="rounded-circle" height="150px" width="150"><br>Example VII</th>
            </tr>
        </thead>
    </table>
</div>

<div class="lead text-center text-white">     
    <br><label class="mb-3"><h5>Lunch</h5></label>   
        <table class="lead text-center text-white">
            <thead>
            <tr>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example I</th>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example II</th>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example III</th> 
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example IV</th>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example V</th>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example VI</th>
                <th><img src="..." class="rounded-circle"  height="150px" width="150"><br>Example VII</th>
        </thead>
    </table>
</div>

<div class="lead text-center text-white">
    <br><label class="mb-3"><h5>Dinner</h5></label> 
        <table class="lead text-center text-white">
            <thead>
            <tr>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example I</th>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example II</th>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example III</th> 
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example IV</th>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example V</th>
                <th><img src="..." class="rounded-circle pe-5"  height="150px" width="150"><br>Example VI</th>
                <th><img src="..." class="rounded-circle"  height="150px" width="150"><br>Example VII</th>
            </tr>
        </thead>
    </table>

</div>

<div class="lead text-end pt-3 pe-4 pb-3">
    
    <button class="btn btn-outline-primary rounded-4" type="button" data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add</button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Recipe</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    <div class="offcanvas-body">
        <div class="input-group">
            <span class="input-group-text">Username</span>
            <input type="text" aria-label="Username" class="form-control">
          </div>

          <div class="input-group mt-5">
            <input type="file" class="form-control" id="inputGroupFile02">
          </div>

          <div class="input-group mt-5">
            <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>

          <div class="mt-5">
            <button type="button" class="btn btn-outline-primary">Upload</button>
          </div>
    </div>
</div>
    