
{% load static %}
<!--<div class="btn-group" role="group" aria-label="Basic radio toggle button group">-->

    <div class="scrollmenu">
        {% for region in regions %}
            <!--<li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="#">{{ region }}</a></li>-->
            <a href="#">{{ region }}</a>
        {% endfor %}
    </div>
    
<!--</div>-->
<style>
    table {
        margin-left: auto;
        margin-right: auto;
    }

    table, th, td {
        border: 0px solid white;
    }

</style>

<div class="lead text-center position-relative mt-3 mb-5">
    <label class="lead text-center text-white"><h5>Signature</h5></label>
</div>

<div class="lead text-center text-white" >
    <table class="lead text-center text-white">
        <thead>
        <tr>
            <th><img src="{% static 'images/'}" class="rounded-circle ps-4 pe-4" height="150px" width="150"><br>Chicken</th>
            <th><img src="{% static 'images/'}" class="rounded-circle pe-4" height="150px" width="150"><br>Pork</th>
            <th><img src="{% static 'images/'}" class="rounded-circle pe-4" height="150px" width="150"><br>Dessert</th> 
            <th><img src="{% static 'images/'}" class="rounded-circle pe-4" height="150px" width="150"><br>Beef</th> 
            <th><img src="{% static 'images/'}" class="rounded-circle pe-4" height="150px" width="150"><br>Vegetables</th> 
            <th><img src="{% static 'images/'}" class="rounded-circle" height="150px" width="150"><br>Fish</th> 
        </tr>
        </thead>
    </table>
</div>

<div class="lead text-center text-white mt-5">
    <table class="lead text-center text-white">
    <thead>
        <tr>
            <th><div class="card" style="width: 20rem;">
                <img src="{% static ''%}" 
                class="card-img-top" height="250px" width="250">
                <br>
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum<p>
                    <a data-section="content" 
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover 
                        text-center icon-link icon-link-hover navButton card-title">Example I
                        
                        <i class="bi bi-arrow-right"><use xlink:href="#arrow-right"></use></i>
                    </a>
                    <div>
                <div>
                </th>

            <th><div class="card" style="width: 20rem;">
                <img src="{% static ''%}" 
                class="card-img-top" height="250px" width="250">
                <br>
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum<p>
                    <a data-section="content" 
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover 
                        text-center icon-link icon-link-hover navButton card-title">Example II
                        
                        <i class="bi bi-arrow-right"><use xlink:href="#arrow-right"></use></i>
                    </a>
                    <div>
                <div>
            </th>

            <th><div class="card" style="width: 20rem;">
                <img src="{% static ''%}" 
                class="card-img-top" height="250px" width="250">
                <br>
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum<p>
                    <a data-section="content" 
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover 
                        text-center icon-link icon-link-hover navButton card-title">Example III
                        
                        <i class="bi bi-arrow-right"><use xlink:href="#arrow-right"></use></i>
                    </a>
                    <div>
                <div>
            </th>


            <th><div class="card" style="width: 20rem;">
                <img src="{% static ''%}" 
                class="card-img-top" height="250px" width="250">
                <br>
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum<p>
                    <a data-section="content" 
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover 
                        text-center icon-link icon-link-hover navButton card-title">Example IV
                        
                        <i class="bi bi-arrow-right"><use xlink:href="#arrow-right"></use></i>
                    </a>
                    <div>
                <div>
            </th>

        </tr>
    </thead>
    </table>
</div>

<div class="lead text-center text-white mt-5">
    <table class="lead text-center text-white">
    <thead>
        <tr>
            <th><div class="card" style="width: 20rem;">
                <img src="{% static ''%}" 
                class="card-img-top" height="250px" width="250">
                <br>
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum<p>
                    <a data-section="content" 
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover 
                        text-center icon-link icon-link-hover navButton card-title">Example I
                        
                        <i class="bi bi-arrow-right"><use xlink:href="#arrow-right"></use></i>
                    </a>
                    <div>
                <div>
            </th>

            <th><div class="card" style="width: 20rem;">
                <img src="{% static ''%}" 
                class="card-img-top" height="250px" width="250">
                <br>
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum<p>
                    <a data-section="content" 
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover 
                        text-center icon-link icon-link-hover navButton card-title">Example II
                        
                        <i class="bi bi-arrow-right"><use xlink:href="#arrow-right"></use></i>
                    </a>
                    <div>
                <div>
            </th>

            <th><div class="card" style="width: 20rem;">
                <img src="{% static ''%}" 
                class="card-img-top" height="250px" width="250">
                <br>
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum<p>
                    <a data-section="content" 
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover 
                        text-center icon-link icon-link-hover navButton card-title">Example III
                        
                        <i class="bi bi-arrow-right"><use xlink:href="#arrow-right"></use></i>
                    </a>
                    <div>
                <div>
            </th>

            <th><div class="card" style="width: 20rem;">
                <img src="{% static ''%}" 
                class="card-img-top" height="250px" width="250">
                <br>
                <div class="card-body">
                    <p class="card-text">Lorem Ipsum<p>
                    <a data-section="content" 
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover 
                        text-center icon-link icon-link-hover navButton card-title">Example IV
                        
                        <i class="bi bi-arrow-right"><use xlink:href="#arrow-right"></use></i>
                    </a>
                    <div>
                <div>
            </th>

        </tr>
    </thead>
    </table>
</div>

<div class="lead text-end pt-3 pe-4 pb-3">
    
    <button class="btn btn-outline-primary rounded-4" type="button" data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add</button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Recipe</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    <div class="offcanvas-body">
        <div class="input-group">
            <span class="input-group-text">Username</span>
            <input type="text" aria-label="Username" class="form-control">
          </div>

          <div class="input-group mt-5">
            <input type="file" class="form-control" id="inputGroupFile02">
          </div>

          <div class="input-group mt-5">
            <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>

          <div class="mt-5">
            <button type="button" class="btn btn-outline-primary">Upload</button>
          </div>
    </div>
</div>
    